[submodule "clusterProcessing"]
	path = clusterProcessing
	url = git@github.com:activityMonitoring/clusterProcessing
[submodule "biobankAccelerometerAnalysis"]
	path = biobankAccelerometerAnalysis
	url = git@github.com:activityMonitoring/biobankAccelerometerAnalysis
[submodule "ukbDataPrep/ukb_download_and_prep_template"]
	path = ukbDataPrep/ukb_download_and_prep_template
	url = git@github.com:activityMonitoring/ukb_download_and_prep_template
[submodule "ukb_download_and_prep_template"]
	path = ukb_download_and_prep_template
	url = git@github.com:activityMonitoring/ukb_download_and_prep_template
